.homeTitle {
  position: absolute;
  left: 0px;
  padding: 5%;
  width: 65%;
  border-radius: 100px;
  margin-top: 100px;
}
.DashboardContainer {
  display: grid;
  height: 100%;
  width: 100vw;
  grid-template-columns: 20% auto;
}
.HomeContent {
  background-image: url(../images/handup.jpg);
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 65px;
  left: 0;
}
.HomeContent {
  background-color: transparent;
}
menu {
  grid-column: 1;
  overflow: scroll;
}

main {
  grid-column: 2;
  border-left: solid 2px black;
  overflow: scroll;
  
}
img {
  margin-bottom: -50px;  
  border-radius: 30px;
  /* border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; */
}
.HomeDescription {
  text-align: left;
  margin-left: 5%;
  color: red;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1.25px 1.25px #000000;
  position: absolute;
  left: 15px;
  top: 325px;
}
h4 {
  text-align: center;
  margin-left: 0%;
  color: red;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1.25px 1.25px #000000;


  /* background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 90%; */
}
