.homeTitle {
  padding: 5%;
  width: 100%;
}
.DashboardContainer {
  display: grid;
  height: 100%;
  width: 100vw;
  grid-template-columns: 20% auto;
}
.HomeContainer {
  background-image: url(../images/handup.jpg);
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.HomeContent {
  background-color: transparent;
}
menu {
  grid-column: 1;
  overflow: scroll;
}

main {
  grid-column: 2;
  border-left: solid 2px black;
  overflow: scroll;
  
}
img {
  margin-bottom: -45px;
}
