.homeTitle {
  padding: 5%;
  width: 100%;
}
.DashboardContainer {
  display: grid;
  height: 100%;
  width: 100vw;
  grid-template-columns: 20% auto;
}
.HomeContainer {
  width: 100vw;
  text-align: center;
}
menu {
  grid-column: 1;
  overflow: scroll;
}

main {
  grid-column: 2;
  border-left: solid 2px black;
  overflow: scroll;
}
