nav {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: baseline;
}

.title {
  text-align: left;
  padding-left: 25px;
  display: inline;
}

.TopButton {
  text-align: right;
}

div {
  display: inline;
}