
h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  text-align: center;
  background-color: #FFF;
  padding: 20px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-top: 6%;
  margin-bottom: 3%;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
li .active {
  background-color: red;
}

.optionalLink {
  background-color: grey;
}
.optionalLink .active {
 background-color: black;
}
.NavLogo {
  width: 20%;
  float:left;
  z-index: -1;
  margin-right: -25%;
  margin-top: 5px;
  margin-left: 5px;
}