.App {
  font-family: 'Raleway', sans-serif;
}

.AppContainer {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 100px auto 30px;
}

.homeTitle {
  width: 100%;
}

header {
  grid-column: 1 / span 3;
  width: 100%;
  border-bottom: solid 2px black;
}

img {
  border-radius: 100px;
}


footer {
  text-align: center;
  grid-row: 3;
  grid-column: 1 / span 3;
  border-top: solid 2px black;
}

/* body {
} */
h1, h2, p, ul, li {
  color: red;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: transparent;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
