.liveContainer {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: auto 250px;
  grid-template-rows: 1fr 1.5fr 6fr 2fr 1fr;
  align-items: center;
  padding-top: 30px;
  
}

.title {
  text-align: left;
  margin-left: 15px;
  grid-row: 1 / span 2;
  margin-top: -5px;
  /* background-color: black; */
}

.TopButton {
  text-align: right;
  margin-right: 15px;
}

.logo {
  width: 30%;
}
.liveHeader{
  grid-column: 1 / span 3;
  grid-row: 1;
  background-color: green;
}
.liveDetails{
  grid-column: 1 / span 3;
  grid-row: 2;
}
.liveContent{
  grid-column: 1;
  grid-row: 3;
}
.queue{
  grid-column: 2;
  grid-row: 3 / span 5;
}
.selected{
  grid-column: 1;
  grid-row: 5 / span 7;
}
.teachInfo{
  grid-column: 2;
  grid-row: 6;
}
